<article [ngClass]="create">
    <section class="modal-content">
        <div class="alert alert-success" [hidden]="status.show">
            <strong [innerHTML]="status.message"></strong>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Client Name *</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" id="example-text-input" placeholder="Enter Client Name" [(ngModel)]="job.userName"
                    [disabled]="is_update">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-xs-2 col-form-label">Job Name *</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" id="example-search-input" placeholder="Enter Job Name" [(ngModel)]="job.jobName"
                    [disabled]="is_update">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-xs-2 col-form-label">Job Group Name *</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" id="example-email-input" placeholder="Enter Job Group Name" [(ngModel)]="job.jobGroupName"
                    [disabled]="is_update">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-xs-2 col-form-label">Job Desc</label>
            <div class="col-xs-10">
                <textarea class="form-control" rows="5" cols="20" [(ngModel)]="job.jobDescription" placeholder="Enter Job Description"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-tel-input" class="col-xs-2 col-form-label">GL File Name *</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" id="example-tel-input" placeholder="Enter GL File Name" [(ngModel)]="job.glInfo.glFileName">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-password-input" class="col-xs-2 col-form-label">Output File Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" id="example-password-input" placeholder="Enter Output File Name" [(ngModel)]="job.glInfo.outputFileName">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-number-input" class="col-xs-2 col-form-label">Map Name *</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" id="example-text-input" placeholder="Enter Map Name" [(ngModel)]="job.glInfo.mapName">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Job Start time</label>
            <div class="col-xs-10">
                <input class="form-control" type="datetime-local" value="" id="startTime" placeholder="Enter Date Time" [(ngModel)]="job.jobDateTime">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Execution Periods [daily]</label>
            <div class="col-xs-10 table-responsive">
                <table class="table table-borderless table-condensed">
                    <tr>
                        <td *ngFor="let week of job.weeks">
                            <span *ngFor="let key of week | keys"> {{key}}</span></td>
                    </tr>
                    <tr>
                        <td *ngFor="let week of job.weeks"><input type="checkbox" class="checkbox-size" *ngFor="let key of week | keys" [(ngModel)]="week[key]">{{key}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Execution Periods [Monthly]</label>
            <div class="col-xs-10 table-responsive">
                <table class="table table-borderless table-condensed">
                    <tr>
                        <td *ngFor="let month of job.months">
                            <span *ngFor="let key of month | keys"> {{key}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let month of job.months">
                            <input type="checkbox" class="checkbox-size" *ngFor="let key of month | keys" [(ngModel)]="month[key]">{{key}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Job End time</label>
            <div class="col-xs-10">
                <input class="form-control" type="datetime-local" value="" id="endTime" placeholder="Enter Date Time" [(ngModel)]="job.jobEndtime">
            </div>
        </div>
        <div class="form-group row" style="padding-right:17px">
            <button class="btn btn-primary pull-right" (click)="goBack()">Close</button>
            <button class="btn btn-success pull-right" style="margin-right: 10px" (click)="createOrUpdateJob()">Submit</button>
        </div>
    </section>
</article>