<!--Created by kukapalv on 9/12/2016.-->
<main>
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="search-query form-control" placeholder="search User Jobs" [(ngModel)]="searchJobNames">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" style="height: 34px;" (click)="getAllJobDetails()">
					<span class=" glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
        <ng2-grid [rowData]="gridData"></ng2-grid>
        <create-job [create]="openCreateModal"></create-job>
    </div>
</main>